/* AmirHosseinMaghsoudi-40131839-WEB-HW */
*{
    margin: 0px;
}

html{
    background: linear-gradient(#0046ae, #9198e5);
    height: 100%;
}

.bigpart{
    height: 400px;
    width: 270px;
    background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: 100px auto;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,30%);
}

.bigpart:hover{
   background: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

head ->{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

music player part ->{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

song and the song writers -> {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


song writers -> {
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

song writers while mouseover{
    color: #2e2e2e;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.back,
.for,
.play:hover{
    border-color: #bebebe;
    cursor: pointer;
}
.background{
    margin: 10px;
    width: 250px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 3px;
}
.progress{
    min-width: 0%;
    max-width: 100%;
    height:100%;
    background-color:cornflowerblue;
    border-radius: 3px;
}
li{display: inline;
    margin:8px;
}